<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default_layout}">

<title layout:fragment="title">지출 통계 조회</title>

<script layout:fragment="script" type="text/javascript" th:src="@{/js/viewMain.js}"></script>

<div layout:fragment="content" th:class="container_calendar">
    <h2>지출 통계 조회</h2>

    <!-- FullCalendar -->
    <div id="calendar"></div>

</div>

</html>