<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default_layout}">

<title layout:fragment="title">카테고리 설정</title>

<div layout:fragment="content">
    <h2>카테고리 설정</h2>

    <!-- 카테고리 추가 폼 -->
    <form action="#" th:action="@{/addCategory}" th:object="${category}" method="post">
        <label for="categoryName">카테고리 이름:</label>
        <input type="text" id="categoryName" th:field="*{categoryName}" required/>

        <label for="categoryCd">카테고리 분류:</label>
        <select id="categoryCd" th:field="*{categoryCd}" required>
            <option th:value="|01|">수입</option>
            <option th:value="|02|">지출</option>
        </select>

        <button type="submit">카테고리 추가</button>
    </form>

    <!-- 현재 카테고리 목록 -->
    <th:block th:if="${!#lists.isEmpty(categoryList)}">
        <h3>현재 카테고리 목록</h3>
        <ul>
            <li th:each="category : ${categoryList}">
                <span th:text="${category.categoryName}"></span>
                <span th:class="span01" th:if="${category.categoryCd eq '01'}">(수입)</span>
                <span th:class="span02" th:if="${category.categoryCd eq '02'}">(지출)</span>
                <a th:class="editBtn" th:href="@{'/delCategory/' + ${category.categoryId}}">삭제</a>
            </li>
        </ul>
    </th:block>
</div>

</html>