<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default_layout}">

<div layout:fragment="content">
    본문 영역입니다.


    <td aria-labelledby="fc-dom-48" role="gridcell" data-date="2024-02-20"
        class="fc-day fc-day-tue fc-day-past fc-daygrid-day">
        <div class="fc-daygrid-day-frame fc-scrollgrid-sync-inner">
            <div class="fc-daygrid-day-top"><a aria-label="2024년 2월 20일" id="fc-dom-48" class="fc-daygrid-day-number">20일</a>
            </div>
            <div class="fc-daygrid-day-events">
                <div class="fc-daygrid-event-harness" style="margin-top: 0px;"><a
                        class="fc-event fc-event-start fc-event-end fc-daygrid-event fc-daygrid-dot-event">
                    <div class="fc-daygrid-event-dot" style="border-color: rgb(0, 36, 255);"></div>
                    <div class="fc-event-time">오후 3:17</div>
                    <div class="fc-event-title">-1,000</div>
                </a></div>
                <div class="fc-daygrid-event-harness" style="margin-top: 0px;"><a
                        class="fc-event fc-event-start fc-event-end fc-daygrid-event fc-daygrid-dot-event">
                    <div class="fc-daygrid-event-dot" style="border-color: rgb(0, 36, 255);"></div>
                    <div class="fc-event-time">오후 10:13</div>
                    <div class="fc-event-title">-4,400</div>
                </a></div>
                <div class="fc-daygrid-day-bottom" style="margin-top: 0px;"></div>
            </div>
            <div class="fc-daygrid-day-bg"></div>
        </div>
    </td>

    <td aria-labelledby="fc-dom-50" role="gridcell" data-date="2024-02-21"
        class="fc-day fc-day-wed fc-day-today fc-daygrid-day">
        <div class="fc-daygrid-day-frame fc-scrollgrid-sync-inner">
            <div class="fc-daygrid-day-top"><a aria-label="2024년 2월 21일" id="fc-dom-50" class="fc-daygrid-day-number">21일</a>
            </div>
            <div class="fc-daygrid-day-events">
                <div class="fc-daygrid-day-bottom" style="margin-top: 0px;"></div>
            </div>
            <div class="fc-daygrid-day-bg"></div>
        </div>
    </td>







</div>

</html>